body {
  position: relative;
}

canvas {
  margin-left: calc((100vw - 800) / 2);
  margin-top: calc((100vh - 640) / 2);
}

.name {
  position: absolute;
  color: white;
  border-bottom: 2px solid white;
  top: 300px;
  left: 200px;
}

#canvas {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

#name {
  position: absolute;
  top: 235px;
  left: 150px;
  min-width: 150px;
  height: 30px;
  border-style: none;
  font-size: 16px;
  text-align: center;
}

.hidden {
  display: none;
}